:root {
  --sans: 'Open Sans', sans-serif;
  --condensed: 'Open Sans Condensed', sans-serif;

  --black: #000;
  --red: #b60000;
  --blue: #96b4de;
  --light-gray: #f5f5f5;
  --gray: #e4dfda;
  --dark-gray: #666666;
  --light-orange: #f15d22;
  --orange: #ce4809;
  --dark-orange: #993300;
  --white: #fff;

  --footer: #2f2828;

  font-family: var(--sans);
}
