.logo {
  display: block;
  z-index: 99;
  height: 70px;
  width: 70px;
}

header {
  z-index: 9999;
  position: relative;

  @media (--large-max) {
    height: 40px;
  }

  @media (--tablet-min) {
    height: 80px;
  }

  .logo {
    position: absolute;
    top: 10px;
    filter: drop-shadow(1px 1px 3px #999);

    @media (--tablet-min) {
      height: 140px;
      width: 140px;
    }
  }

  & nav {
    float: right;
  }

  & a,
  & button {
    display: inline-block;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--condensed);
    font-weight: 600;

    @media (--large-max) {
      font-size: 14px;
      letter-spacing: 2px;
      margin-left: 12px;
      line-height: 40px;
    }

    @media (--tablet-min) {
      margin-left: 40px;
      line-height: 80px;
      letter-spacing: 3px;
    }
  }

  & a:first-child {
    margin-left: 0;
  }
}
