#stage {
  height: 40vw;
  min-height: 180px;
  max-height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin-bottom: 60px;
}

#stage + section {
  padding-top: 0;
}
