{% extends 'layout.twig' %}

{% block content %}
	<section id="stage"></section>

	<section id="bet-years" class="bets">

		<div class="lock">

			<div class="year">
				<h2>2019</h2>
				<div>
					<h3>Zeller/Dorsey:
						<span>$50</span>
					</h3>
					<p>Worst Draft Position</p>
				</div>
			</div>

			<div class="year">
				<h2>2018</h2>
				<div>
					<h3>Biggie/Dorsey:
						<span>$200</span>
					</h3>
					<p>Highest Points for the regular season</p>
				</div>
				<div>
					<h3>Zeller/Jacobson:
						<span>$50</span>
					</h3>
					<p>Worst Draft Position</p>
				</div>
				<div>
					<h3>Zeller/Bob:
						<span>$50</span>
					</h3>
					<p>Worst Draft Position</p>
				</div>
				<div>
					<h3>Zeller/Shane:
						<span>$50</span>
					</h3>
					<p>Worst Draft Position</p>
				</div>
				<div>
					<h3>Zeller/Dorsey:
						<span>$50</span>
					</h3>
					<p>Worst Draft Position</p>
				</div>
				<div>
					<h3>Jacobson/Shane:
						<span>Bar Tab</span>
					</h3>
					<p>Highest points : AJ Green vs Kennan Allen</p>
				</div>
			</div>

		</div>

	</section>
{% endblock %}
