{% extends 'layout.twig' %}

{% block content %}
  <section id="stage"></section>

  <section id="house-years" class="house">
    <div class="lock">
      <div class="year">
        <h1 class="heading-one" style="margin-bottom: 30px;">
          <b>2024:</b> Bethany Beach, DE
        </h1>

        <div class="row-with-image">
          <div>
            <img src="/images/house/bethany-map.jpg" alt="Annoucment 1" />
            <div>
              <p style="margin-bottom: 15px; font-weight: bold;">
                Located at the maryland line
              </p>

              <ul style="padding-left: 10px;">
                <li style="margin-bottom: 10px">
                  Six Bedroom home on the bay with water access.
                </li>
                <li style="margin-bottom: 10px">
                  A pool overlooking the water
                </li>
                <li style="margin-bottom: 10px">
                  Quick access to local favorites: Harpoon hanna's, Catch 54,
                  etc
                </li>
                <li>Hot Tub</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="grid-images">
          <img src="/images/house/bethany-1.jpg" alt />
          <img src="/images/house/bethany-2.jpg" alt />
          <img src="/images/house/bethany-3.jpg" alt />
          <img src="/images/house/bethany-4.jpg" alt />
        </div>
      </div>
    </div>
  </section>

  <section id="planning">
    <div class="background"></div>
    <span style="background-color: rgba(0, 0, 0, .6); position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

    </span>

    <div class="lock">
      <div>
        <h1 class="heading-one" style="margin-bottom: 0;">
          Draft History
        </h1>
        <div style="padding: 40px 0">
          <p>
            Oh, fantasy football draft, How you bring us all such joy.
            <span style="display: block">
              We gather 'round a virtual table, To draft our teams like kids
              with toys.
            </span>
          </p>
          <p>
            We analyze stats and rankings, And debate player after player.
            <span style="display: block">
              We'll even take a kicker early, If we think he's a game-changer.
            </span>
          </p>
          <p>
            We mock those who draft too early, And laugh at those who reach.
            <span style="display: block">
              But we all secretly fear, The dreaded injury bug we can't teach.
            </span>
          </p>
          <p>
            Oh, fantasy football draft, How you bring us so much fun.
            <span style="display: block">
              Even when our team's a bust, We'll be back next year, ready to
              run.
            </span>
          </p>
        </div>

        <a href="/draft.html" class="main-button">View the draft</a>
      </div>
    </div>
  </section>
{% endblock %}
