{% extends 'layout.twig' %}

{% block content %}
  <div class="draft">
    <section id="stage"></section>

    <section id="results">
      <div class="lock">
        <div class="data"></div>
      </div>
    </section>
    <script src="draft.js"></script>
  </div>
{% endblock %}
