{% extends 'layout.twig' %}

{% block content %}
  <section id="stage"></section>

  <section id="shit-talking">
    <div class="lock">
      <div>
        <h1>
          The Best Shit Talking Ever!
        </h1>
        <video poster="/images/million-dollar-thumb.jpg" controls>
          <source src="/videos/million-dollar.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </section>

  <section id="planning">
    <div class="background"></div>

    <div class="lock">
      <div>
        <h1 class="heading-one">
          The Draft
        </h1>
        <p>
          The Hickory Lodge
        </p>
        <p>
          2119 Conowingo Rd, Bel Air, MD 21014
        </p>
        <p>
          Start Time: 3pm
        </p>
        <a href="/draft.html" class="main-button">View the draft</a>
      </div>
    </div>
  </section>

  <section id="tracking">
    <div class="lock">
      <h1 class="heading-one">
        Live Scoring
      </h1>

      <div class="scoring">
        <div>
          <h2>
            Quaterback
          </h2>
          <p>
            Every 5 passing yards
            <span>.2</span>
          </p>
          <p>
            TD Pass
            <span>4</span>
          </p>
          <p>
            Interception
            <span>-2</span>
          </p>
        </div>

        <div>
          <h2>
            Rushing
          </h2>
          <p>
            Rushing Yards
            <span>.1</span>
          </p>
          <p>
            TD Rush
            <span>6</span>
          </p>
        </div>

        <div>
          <h2>
            Recieving
          </h2>
          <p>
            Recieving Yards
            <span>.1</span>
          </p>
          <p>
            Reception
            <span>1</span>
          </p>
          <p>
            TD Reception
            <span>6</span>
          </p>
        </div>

        <a href="http://games.espn.com/ffl/leagueoffice?leagueId=38149&seasonId=2016"
          target="_blank"
          class="main-button">
          Live Games
        </a>
      </div>

      <div class="background"></div>
    </div>
  </section>

  <section id="history">
    <div class="lock">
      <h1 class="heading-one">
        Previous Winners
      </h1>

      <div class="winners">
        <p>
          <span>2020</span>
          Jacobson
        </p>
        <p>
          <span>2019</span>
          Ford
        </p>
        <p>
          <span>2018</span>
          Drew/Scott
        </p>
        <p>
          <span>2017</span>
          Ford
        </p>
        <p>
          <span>2016</span>
          Biggie
        </p>
        <p>
          <span>2015</span>
          Biggie
        </p>
        <p>
          <span>2014</span>
          Jacobson
        </p>
        <p>
          <span>2013</span>
          Drew/Scott
        </p>
        <p>
          <span>2012</span>
          Ford
        </p>
        <p>
          <span>2011</span>
          Josh
        </p>
        <p>
          <span>2010</span>
          Jutt/Ryan
        </p>
        <p>
          <span>2009</span>
          Kyle
        </p>
        <p>
          <span>2008</span>
          Mesher
        </p>
        <p>
          <span>2007</span>
          Toby
        </p>
        <p>
          <span>2006</span>
          Jacobson
        </p>
        <p>
          <span>2005</span>
          Shane
        </p>
        <p>
          <span>2004</span>
          Bob
        </p>
        <p>
          <span>2003</span>
          Shane
        </p>
        <p>
          <span>2002</span>
          Shane
        </p>
      </div>

      <div class="background"></div>
    </div>
  </section>
{% endblock %}
