<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortlink" href="https://fantasy.joshmagness.com" />
    <meta NAME="robots" CONTENT="noindex,nofollow" />
    <meta property="og:image" content="/images/logo/bets.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <title>
      Bel Air Fantasy Football
    </title>
  </head>

  <body class="home">
    <header>
      <div class="lock">
        <a href="/" class="logo"></a>

        <nav>
          <a href="/players.html">Players</a>
          <a href="/rules.html">Rules</a>
          <a href="/draft-house.html">House</a>
          <a href="/draft-results.html">Results</a>
          {# <a href="/memories.html">Memories</a> #}
        </nav>
      </div>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
      type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </body>
</html>
