{% extends 'layout.twig' %}

{% block content %}
  <section id="stage"></section>

  <section id="bet-years" class="bets">
    <div class="lock">
      <div class="year">
        <h2>
          2018
        </h2>

        <section id="shit-talking">
          <div class="lock">
            <div>
              <h1>
                Zeller pays for a video of the Million Dollar Man
              </h1>
              <video poster="/images/million-dollar-thumb.jpg" controls>
                <source src="/videos/million-dollar.mp4" type="video/mp4" />
              </video>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock %}
