{% extends 'layout.twig' %}

{% block content %}
  <div class="players">
    <section id="stage"></section>

    <section id="list">
      <div class="lock">
        <div class="shane">
          <div class="text">
            <h2 class="heading-one champ">
              Team Dynasty
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Shane
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                Who was just picked? Before him? Before him? Before him?
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2002</li>
                <li>2003</li>
                <li>2005</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/shane.jpg" />
        </div>

        <div class="ford">
          <div class="text">
            <h2 class="heading-one">
              The FIV
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Ford
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                See what had happen was...
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2012 (while in jail)</li>
                <li>2017 (while not in jail)</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/ford.jpg" />
        </div>

        <div class="jacobson">
          <div class="text">
            <h2 class="heading-one">
              Team Titantic
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Jacobson
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                I'll take another
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2006</li>
                <li>2014</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/jacobson.jpg" />
        </div>

        <div class="josh">
          <div class="text">
            <h2 class="heading-one">
              Sandusky's Youth Group
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Josh
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                It's made of gold
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2011</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/josh.jpg" />
        </div>

        <div class="dorsey">
          <div class="text">
            <h2 class="heading-one">
              Too Big to Fail
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Dorsey
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                Shots
              </p>
            </div>
          </div>

          <img src="/images/players/dorsey.jpg" />
        </div>

        <div class="zeller">
          <div class="text">
            <h2 class="heading-one">
              Ravishing Rick Rude
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Zeller
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                Lock it up
              </p>
            </div>
          </div>

          <img src="/images/players/zeller.jpg" />
        </div>

        <div class="biggie">
          <div class="text">
            <h2 class="heading-one">
              Teenage Mutant Ninja Bortles
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Biggie
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                Fuck you, pay me
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2015</li>
                <li>2016</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/biggie.jpg" />
        </div>

        <div class="eder">
          <div class="text">
            <h2 class="heading-one">
              Perpetual #1's
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Eder
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                In it to win it
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>Never going to happen</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/eder.jpg" />
        </div>

        <div class="kyle">
          <div class="text">
            <h2 class="heading-one">
              Kyle morse
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Kyle
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                I hate cats
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2009</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/kyle.jpg" />
        </div>

        <div class="toby">
          <div class="text">
            <h2 class="heading-one">
              Da Bears
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Toby
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                Just add a little cheese
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2007</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/toby.jpg" />
        </div>

        <div class="bob">
          <div class="text">
            <h2 class="heading-one">
              Chicken Wing Gas
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Bob
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                The Browns may be good this year
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2004</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/bob.jpg" />
        </div>

        <div class="drew">
          <div class="text">
            <h2 class="heading-one">
              The Big Tebowski
            </h2>
            <div class="owners">
              <h3>
                Owners
              </h3>
              <p>
                Drew
              </p>
              <p>
                Scott
              </p>
            </div>
            <div class="motto">
              <h3>
                Quote
              </h3>
              <p>
                This aggression will not stand, man.
              </p>
            </div>
            <div class="championships">
              <h3>
                Championships
              </h3>
              <ul>
                <li>2013</li>
              </ul>
            </div>
          </div>

          <img src="/images/players/drew.jpg" />
        </div>
      </div>
    </section>
  </div>
{% endblock %}
