{% extends 'layout.twig' %}

{% block content %}
  <section id="stage"></section>

  <section id="tracking">
    <div class="lock">
      <h1 class="heading-one">
        Scoring
      </h1>

      <div class="scoring">
        <div>
          <h2>
            Quaterback
          </h2>
          <p>
            Every 5 passing yards
            <span>.2</span>
          </p>
          <p>
            TD Pass
            <span>4</span>
          </p>
          <p>
            Interception
            <span>-2</span>
          </p>
        </div>

        <div>
          <h2>
            Rushing
          </h2>
          <p>
            Rushing Yards
            <span>.1</span>
          </p>
          <p>
            TD Rush
            <span>6</span>
          </p>
        </div>

        <div>
          <h2>
            Recieving
          </h2>
          <p>
            Recieving Yards
            <span>.1</span>
          </p>
          <p>
            Reception
            <span>1</span>
          </p>
          <p>
            TD Reception
            <span>6</span>
          </p>
        </div>
      </div>

      <div class="background"></div>
    </div>
  </section>

  <section class="rules">
    <div class="lock">
      <h2>
        Payout
      </h2>
      <ul>
        <li>The winner will receive $1600</li>
        <li>The runner-up will receive $600</li>
        <li>3rd place will receive $300</li>
        <li>4th place will receive $200</li>
        <li>
          The highest total points for the regular season will receive $200
        </li>
        <li>Weekly winners will be paid out $100 from weeks 1 - 12.</li>
      </ul>

      <h2>
        Membership Fee
      </h2>
      <ul>
        <li>
          Each team fee is $400. ~350 will be paid to winners, and 50 will be
          used as a fun balance.
        </li>
        <li>
          All league fees are due at the draft or when securing a spot in the
          draft house.
        </li>
        <li>Any player unable to pay will be removed from the league</li>
        <li>
          Any money not paid will be deducted from the winner or pulled from the
          fund balance if available
        </li>
      </ul>

      <h2>
        Fun Balance (commissioners discretionary fund)
      </h2>
      <ul>
        <li>Each member will contribute to the fund with their entry fee</li>
        <li>
          The fund will be used for any league expenses, such as the draft
          boards, league costs, draft house, trophies, loser penalties, draft
          tabs, championship gatherings, etc.
        </li>
        <li>Keepers will be declared at the draft.</li>
      </ul>

      <h2>
        Last Place Penalty
      </h2>
      <ul>
        <li>
          The loser must complete an open-ended stipulation agreed upon by all
          league members. Members who don't participate in the penalty will
          forfeit ownership of their team
        </li>
        <li>
          Penalties don't include anything illegal or any permanent markings.
        </li>
        <li>
          Some examples of penalties include:<ol style="padding-left: 20px; margin-top: 10px;">
            <li style="margin-bottom: 10px;">
              Dressing up in a costume of the league's choosing for the entire
              draft and posing for picture
            </li>
            <li style="margin-bottom: 15px;">
              Wearing a fake tattoo on the forehead for draft weekend.
            </li>
            <li>Attend a rival team's event wearing their clothes.</li>
          </ol>
        </li>
      </ul>

      <h2>
        Keepers
      </h2>
      <ul>
        <li>A player may be kept for a maximum of 1 year</li>
        <li>
          The owner will lose the round the player was selected in the previous
          year.
        </li>
        <li>Keepers will be declared at the draft.</li>
      </ul>

      <h2>
        Trades
      </h2>
      <ul>
        <li>
          A minimum of two other players must approve a trade agreed upon by two
          players
        </li>
        <li>
          The commissioners will review the trade after two other members have
          approved it. Both commissioners must approve the trade.
        </li>
      </ul>

      <h2>
        Flex Position
      </h2>
      <ul>
        <li>The flex position can be a WR, RB or TE.</li>
      </ul>

      <h2>
        Waiver Wire
      </h2>
      <ul>
        <li>The wire is Free Agent Acquisition Budget.</li>
        <li>The buget is $200 per team.</li>
        <li>The waiver wire will be processed on Wednesday morning.</li>
      </ul>

      <h2>
        Application (Sleeper)
      </h2>
      <ul>
        <li>
          Rules and scoring will be locked in place at the start of the season
          and can only be changed if stated here before the start of the season.
          Both commissioners must validate the rules.
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
