{% extends 'layout.twig' %}

{% block content %}

	<section id="stage"></section>

	<section class="rules">

		<div class="lock">

			<h2>Keepers</h2>
			<ul>
				<li>The first year a player is kept, the owner will lose the round the player was selected</li>
				<li>The second year a player is kept, the owner will lose a first round pick regardless of the round the player was selected</li>
				<li>A player may be kept for a maximum of 3 years</li>
				<li>A player must be on your team at the end of the season to be kept.  It does NOT matter if you drop the player during the season</li>
			</ul>

			<h2>Trades</h2>
			<ul>
				<li>A minimum of two other players must approve a trade agreed upon by two players</li>
				<li>The commissioner will review the trade after two other members have approved it</li>
				<li>If the commissioner votes a trade but has approved from at least six other members, the players may ask for arbitration</li>
				<li>The arbitrator is Jeff Leary (no others will be used)</li>
			</ul>

			<h2>Flex Position</h2>
			<ul>
				<li>The flex position can be a WR or RB.</li>
				<li>As of 2016, we have expanded the flex position to include TE.</li>
			</ul>

			<h2>Payment</h2>
			<ul>
				<li>All league fees are due at the draft.  There is no penalty for non payment before the player is eliminated from the playoffs
				</li>
				<li>Any player unable to pay will be removed from the league.</li>
				<li>Any money not paid will be deducted an equal percent from winner/runner up</li>
				<li>Each team fee is $200</li>
			</ul>

			<h2>Payout</h2>
			<ul>
				<li>The winner will receive $1400</li>
				<li>The runner up will receive $400</li>
				<li>The championship round losers up will receive $200</li>
				<li>The highest total points for the regular season will receive $200</li>
			</ul>

		</div>

	</section>

{% endblock %}
