{% extends 'layout.twig' %}

{% block content %}
  <div class="house">
    <section id="stage"
      style=" background-image: url(/images/rules.jpg);"></section>

    <section id="house-years" class="house">
      <div class="lock">
        <div class="year">
          <h1 class="heading-one" style="margin-bottom: 30px;">
            <b>2024:</b> Bethany Beach, DE
          </h1>

          <div style="text-align: center; margin-bottom: 40px;">
            <p style="margin-bottom: 10px">
              <b>Free</b> to join for draft day and enjoy the pool
            </p>
            <p style="margin-bottom: 10px">
              <b>$100</b> for the draft night
            </p>
            <p style="margin-bottom: 10px">
              <b>$250 or lower</b> for bunking all weekend
            </p>
            <p>
              <b>$600 or more</b> for private rooms
            </p>
          </div>

          <div class="row-with-image">
            <div>
              <img src="/images/house/bethany-map.jpg" alt="Annoucment 1" />
              <div>
                <p style="margin-bottom: 15px; font-weight: bold;">
                  Located at the maryland line
                </p>

                <ul>
                  <li style="margin-bottom: 10px">
                    Six Bedroom home on the bay with water access.
                  </li>
                  <li style="margin-bottom: 10px">
                    A pool overlooking the water
                  </li>
                  <li style="margin-bottom: 10px">
                    Quick access to local favorites: Harpoon hanna's, Catch 54,
                    etc
                  </li>
                  <li>Hot Tub</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="grid-images">
            <img src="/images/house/bethany-1.jpg" alt />
            <img src="/images/house/bethany-2.jpg" alt />
            <img src="/images/house/bethany-3.jpg" alt />
            <img src="/images/house/bethany-4.jpg" alt />
          </div>
        </div>
      </div>
    </section>

    <section id="auction">
      <div class="lock">
        <h2 style="margin-bottom: 30px; font-weight: bold; font-size: 24px; ">
          Auction Room Options
        </h2>
        <p>
          Premium rooms are available for auction.
        </p>
        <p>
          Bids will take place via text message with anyone interested. Text
          Josh for more information and getting notifications.
        </p>
        <p>
          We reserve the right to auction off rooms outside of the league if
          they don't sell.
        </p>

        <hr />

        <div>
          <h3 style="margin-bottom: 20px; font-weight: bold; font-size: 20px; text-align: center;">
            Main Bedroom
          </h3>

          <div class="aution-room">
            <div>
              <p style="font-size: 40px; margin-bottom: 20px;">
                Starting Bid: <b>$1200</b>
              </p>
              <ul>
                <li>Kings Bed</li>
                <li>Private Bathroom</li>
                <li>Overlooking Terrace of the pool and bay</li>
                <li>TV and mini kitchen</li>
              </ul>
            </div>

            <div class="grid-images">
              <img src="/images/house/main/1.jpg" alt />
              <img src="/images/house/main/2.jpg" alt />
              <img src="/images/house/main/3.jpg" alt />
              <img src="/images/house/main/4.jpg" alt />
            </div>
          </div>
        </div>

        <hr />

        <div>
          <h3 style="margin-bottom: 20px; font-weight: bold; font-size: 20px; text-align: center;">
            2nd Bedroom
          </h3>

          <div class="aution-room">
            <div>
              <p style="font-size: 40px; margin-bottom: 20px;">
                Starting Bid: <b>$700</b>
              </p>

              <ul>
                <li>Kings Bed</li>
                <li>Private Bathroom</li>
                <li>Some type of overlook Terrace</li>
              </ul>
            </div>

            <div>
              <img src="/images/house/2nd.jpg" alt />
            </div>
          </div>
        </div>

        <hr />

        <div>
          <h3 style="margin-bottom: 20px; font-weight: bold; font-size: 20px; text-align: center;">
            3rd Bedroom
          </h3>

          <div class="aution-room">
            <div>
              <p style="font-size: 40px; margin-bottom: 20px;">
                Starting Bid: <b>$600</b>
              </p>

              <ul>
                <li>Queen Bed</li>
                <li>Private Bathroom</li>
              </ul>
            </div>

            <div>
              <img src="/images/house/3rd.jpg" alt />
            </div>
          </div>
        </div>

        <hr />

        <div>
          <h3 style="margin-bottom: 20px; font-weight: bold; font-size: 20px; text-align: center;">
            Additonal Beds
          </h3>

          <div class="aution-room">
            <div>
              <p style="font-size: 40px;">
                $250
              </p>
            </div>

            <div class="grid-images">
              <img src="/images/house/4th.jpg" alt />
              <img src="/images/house/5th.jpg" alt />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <link rel="stylesheet" type="text/css" href="house.css" />
{% endblock %}
