{% extends 'layout.twig' %}

{% block content %}
  <div class="draft">
    <section id="stage"
      style="background-image: url(/images/draft.jpg)"></section>

    <section id="results">
      <div class="lock">
        <div class="data"></div>
      </div>
    </section>
    <script src="draft.js"></script>
  </div>

  <link rel="stylesheet" type="text/css" href="draft.css" />
{% endblock %}
