{% extends 'layout.twig' %}

{% block content %}
  <div class="home">
    <section id="stage"
      style="  background-image: url(/images/stage.jpg)"></section>

    <section id="annoucments">
      <div class="lock">
        <h1 class="heading-one" style="text-align: left; margin-bottom: 30px;">
          Announcements
        </h1>

        <div class="row-with-offset-image">
          <div>
            <img src="/images/players/josh.jpg" alt="Annoucment 1" />
            <div>
              <h2 style="margin-bottom: 15px;">
                Josh and Eder are co-commissioners for 2024 season.
              </h2>

              <p>
                View the <a href="/rules">Rules</a> page for the latest updates.
              </p>
              <p>
                View the <a href="/draft-house">House</a> page for the latest information
                on the draft house.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="history">
      <div class="lock">
        <h1 class="heading-one" style="margin-bottom: 20px;">
          Previous Winners
        </h1>

        <p style="text-align: center; margin-bottom: 20px;">
          The annual surviours list! May the odds be ever in your favor.
        </p>

        <div class="winners">
          <p>
            <span>2023</span>
            Shane
          </p>
          <p>
            <span>2022</span>
            Dorsey
          </p>
          <p>
            <span>2021</span>
            Eder
          </p>
          <p>
            <span>2020</span>
            Jacobson
          </p>
          <p>
            <span>2019</span>
            Ford
          </p>
          <p>
            <span>2018</span>
            Drew/Scott
          </p>
          <p>
            <span>2017</span>
            Ford
          </p>
          <p>
            <span>2016</span>
            Biggie
          </p>
          <p>
            <span>2015</span>
            Biggie
          </p>
          <p>
            <span>2014</span>
            Jacobson
          </p>
          <p>
            <span>2013</span>
            Drew/Scott
          </p>
          <p>
            <span>2012</span>
            Ford * (in jail)
          </p>
          <p>
            <span>2011</span>
            Josh
          </p>
          <p>
            <span>2010</span>
            Jutt/Ryan
          </p>
          <p>
            <span>2009</span>
            Kyle
          </p>
          <p>
            <span>2008</span>
            Mesher
          </p>
          <p>
            <span>2007</span>
            Toby
          </p>
          <p>
            <span>2006</span>
            Jacobson
          </p>
          <p>
            <span>2005</span>
            Shane
          </p>
          <p>
            <span>2004</span>
            Bob
          </p>
          <p>
            <span>2003</span>
            Shane
          </p>
          <p>
            <span>2002</span>
            Shane
          </p>
        </div>

        <div class="background"
          style="background-image: url(/images/winner.jpg);"></div>
      </div>
    </section>
  </div>

  <link rel="stylesheet" type="text/css" href="home.css" />
{% endblock %}
