<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortlink" href="https://fantasy.joshmagness.com" />
    <meta NAME="robots" CONTENT="noindex,nofollow" />
    <meta property="og:image" content="/images/logo/bets.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <title>
      Bel Air Fantasy Football
    </title>
  </head>

  <body>
    <header>
      <div class="lock">
        <a href="/"
          class="logo"
          style="background-image: url(/images/logo.svg)">

        </a>

        <nav>
          <a href="/players.html">Players</a>
          <a href="/rules.html">Rules</a>
          <a href="/draft-house.html">House</a>
          <a href="/draft-results.html">Results</a>
          {# <a href="/memories.html">Memories</a> #}
        </nav>
      </div>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <section id="ode">
      <div class="background"
        style="background-image: url(/images/planning.jpg)"></div>
      <span style="background-color: rgba(0, 0, 0, .6); position: absolute; top: 0; left: 0; width: 100%; height: 100%;">

      </span>

      <div class="lock">
        <div>
          <h1 class="heading-one" style="margin-bottom: 0;">
            Draft History
          </h1>
          <div style="padding: 40px 0">
            <p>
              Oh, fantasy football draft, How you bring us all such joy.
              <span style="display: block">
                We gather 'round a virtual table, To draft our teams like kids
                with toys.
              </span>
            </p>
            <p>
              We analyze stats and rankings, And debate player after player.
              <span style="display: block">
                We'll even take a kicker early, If we think he's a game-changer.
              </span>
            </p>
            <p>
              We mock those who draft too early, And laugh at those who reach.
              <span style="display: block">
                But we all secretly fear, The dreaded injury bug we can't teach.
              </span>
            </p>
            <p>
              Oh, fantasy football draft, How you bring us so much fun.
              <span style="display: block">
                Even when our team's a bust, We'll be back next year, ready to
                run.
              </span>
            </p>
          </div>

          <a href="/draft.html" class="main-button">View the draft</a>
        </div>
      </div>
    </section>

    <footer>
      <div class="lock">
        <a href="/"
          class="logo"
          style="background-image: url(/images/logo.svg)">

        </a>
      </div>
    </footer>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
      rel="stylesheet"
      type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet" />
  </body>
</html>
