
.heading-one {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  font-family: var(--condensed);
  margin-bottom: 40px;
  text-align: center;
  line-height: .9em;

  @media (--tablet-min) {
    font-size: 40px;
  }

}
