.grid-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;

  @media (--large-min) {
    grid-template-columns: 1fr 1fr;
  }

  & img {
    object-fit: cover;
    object-position: center;
  }
}
